  .App{
      height: 500px;
  }
  .Carousel {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .card {
    border-radius: 30px;
    max-width: 290px;
    height: 390px;
    box-shadow: 0px 0px 11px #ffffff;
    transition: transform 0.4s;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 4%;
  }
  
  .card:hover {
    border: 3px solid black;
    transform: scale(1.1);
    border: 2px solid gray;
    cursor: pointer;
  }
  
  .img {
    border-radius: 30px 30px 0px 60px;
    height: 150px;
  }
  
  .title {
    text-align: left;
    font-family: Gilroy;
    font-size: 17px;
    color: #000000;
    font-weight: 600;
  }
  
  .description {
    text-align: left;
  }
  
  button {
    background-color: rgb(49, 48, 48);
    color: white;
    border-radius: 8px;
    border: 0.5px solid #fff;
    width: 85px;
    height: 40px;
    display: flex;
    margin-left: auto;
    margin-top: -30px;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
  }
  .card-price {
    width: 85px;
    height: 43px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-top: -12%;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
    background: rgb(49, 48, 48);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border: 0.5px solid #fff;
  }
  .starGroup{      
    display: flex;
  }
  
  .fa-star-half-o,
  .fa-star,
  .fa-star-o {
    color: #f0b103;
    justify-content: space-between;
    margin-left: 3px;
    display: flex;
  }
  
  .count {
    color: #0c0c0c;
    font-size: 16px;
    margin-left: 5%;
    font-style: normal;
    font-weight: 800;
    margin-top: -2%;
  }
  
  .icon-group {
    margin-top: 5%;
  }
  
  .iconName {
    margin-right: 10%;
    margin-left: 3%;
    margin-top: -100px;
    font-style: normal;
  }
  
  @media screen and (max-width: 576px) {
    
    
    .card {
      width: 75%;
      margin: auto;
      margin-bottom: 5%;
      margin-top: 60%;
    }
    .App{
        
    }
  }
    @media screen and (max-width: 576px) {
    .App{
      height: 1200px;
    }
    
    .card {
      width: 75%;
      margin: auto;
      margin-bottom: 5%;
      
    }
    .carouselCard {
        padding: 20px;
        position: relative;
        margin-top: 700px;
      }
      .Carousel {
        margin-top: 0%;
        margin-bottom: 5%;
      }
  }
  
  .carouselCard {
    padding: 20px;
    position: relative;
  }
  